@font-face {
  font-family: "iconfont"; /* Project id 2896510 */
  src: url('iconfont.woff2?t=1651816477327') format('woff2'),
       url('iconfont.woff?t=1651816477327') format('woff'),
       url('iconfont.ttf?t=1651816477327') format('truetype');
}

[class*='icon-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huidingbu:before {
  content: "\e607";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-LC_icon_gps_line_2:before {
  content: "\e631";
}

.icon-liwu:before {
  content: "\e685";
}

.icon-qitianwuliyoutuihuan:before {
  content: "\e63d";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-icon03:before {
  content: "\e602";
}

.icon-wodeshouhou:before {
  content: "\e673";
}

.icon-rengongrenwu:before {
  content: "\e6ee";
}

.icon-shouji:before {
  content: "\eac3";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-shuaxin:before {
  content: "\e641";
}

.icon-fenxiang:before {
  content: "\e6a5";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-fenlei:before {
  content: "\e620";
}

.icon-wujiaoxingyuanjiao:before {
  content: "\e658";
}

.icon-wodeshujia:before {
  content: "\e63e";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-chazhao:before {
  content: "\e617";
}

